@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 69, 71, 89;
    --background-end-rgb: 36, 37, 43 ;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      rgb(var(--background-end-rgb)),
      rgb(var(--background-start-rgb))
    );
    height: 100vh;
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  
  html,
  body {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  color: rgb(0, 0, 0);
  border-radius: 5px;
  width: .75rem;
  background: rgba(255, 255, 255, 0.11)
}

::-webkit-scrollbar-corner {
}

::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.152);
  border-radius: .5rem;
}



body {
  /* position: relative; */
  
}

form  {
  border-radius: 1rem;
  box-shadow: inset .25rem .25rem .5rem rgb(var(--background-end-rgb));
  padding: 1rem;
  
  input, textarea {
    outline: none;
    resize: none;
    border-radius: .25rem;
    background: rgba(255, 255, 255, 0.11);
    color: white;
    padding-left: .5rem;
  }

  input {
    height: 2rem;
  }

  button {
    background: rgb(var(--background-end-rgb));
    opacity: 1;
    border-radius: .25rem;
    height: 2rem;

  }
  button:hover {
    opacity: .8;
  }

}